@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<RadzenRadialGauge>
    <RadzenRadialGaugeScale Min="0" Max="260">
        <RadzenRadialGaugeScalePointer Value="50" />
        <RadzenRadialGaugeScaleRange From="0" To="90" Fill="green" />
        <RadzenRadialGaugeScaleRange From="90" To="140" Fill="orange" />
        <RadzenRadialGaugeScaleRange From="140" To="260" Fill="red" />
    </RadzenRadialGaugeScale>
</RadzenRadialGauge>
